Cell_1

In [1]:
# python program to swap two cities

# to take inputs from the user
city_1 = input('Enter name of city 1:')
city_2 = input('Enter name of city 2:')

# create a temporary variable and swap the values
temp = city_1
city_1 = city_2
city_2 = temp

# display the swapped values
print(f"The name of city 1 after swapping is: {city_1}")
print(f"The name of city 2 after swapping is {city_2}")

The name of city 1 after swapping is: lagos
The name of city 2 after swapping is lagos

Cell_2

In [2]:
# Program to check if a number is positive, negative or zero

num = float(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number)")

Positive number

cell_3

In [3]:
# COUPE DE ESCRIVA 2023: FOOTBALL PICKS

print("Welcome to the COUPE DE ESCRIVA 2023: Football PICKS \n")
captain = {'Madiba:': 'Chubby Obiora-Okafo', 'Blue-Jays: ':'Christopher uweh','Cirok: ': 'Timileyin Pearse/Izuako Jeremy','TSG Walkers: ': 'Ayomide ojituku'}
goalkeepers = {'Madiba:': 'Chubby Obiora-Okafo', 'Blue-Jays: ':'Christopher uweh','Cirok: ': 'Timileyin Pearse/Izuako Jeremy','TSG Walkers: ': 'Ayomide ojituku'}
for pick in captain:
    print(pick, captain[pick])
print("\n")

for pick in goalkeepers:
    print(pick, goalkeepers[pick])

Welcome to the COUPE DE ESCRIVA 2023: Football PICKS

Madiba: Chubby Obiora-Okafo
Blue-Jays:  Christopher uweh
Cirok:  Timileyin Pearse/Izuako Jeremy
TSG Walkers:  Ayomide ojituku


Madiba: Chubby Obiora-Okafo
Blue-Jays:  Christopher uweh
Cirok:  Timileyin Pearse/Izuako Jeremy
TSG Walkers:  Ayomide ojituku

In [4]:
import pandas as pd

# Data for girls
girls_data = {
    'Name': ['Evelyn', 'Jessica', 'Somto', 'Edith', 'Liza', 'Madonna', 'Waje', 'Tola', 'Aisha', 'Latifa'],
    'Age': [17, 16, 17, 18, 16, 18, 17, 20, 19, 17],
    'Height': [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5],
    'Scores': [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]
}

# Data for boys
boys_data = {
    'Name': ['Chinedu', 'Liam', 'Wale', 'Gbenga', 'Abiola', 'Kola', 'Kunle', 'George', 'Thomas', 'Wesley'],
    'Age': [19, 16, 18, 17, 20, 19, 16, 18, 17, 19],
    'Height': [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7],
    'Scores': [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]
}

# Combine data
students_data = pd.concat([pd.DataFrame(girls_data), pd.DataFrame(boys_data)], ignore_index=True)

# Display the data in tabular form
print(students_data)

       Name  Age  Height  Scores
0    Evelyn   17     5.5      80
1   Jessica   16     6.0      85
2     Somto   17     5.4      70
3     Edith   18     5.9      60
4      Liza   16     5.6      76
5   Madonna   18     5.5      66
6      Waje   17     6.1      87
7      Tola   20     6.0      95
8     Aisha   19     5.7      50
9    Latifa   17     5.5      49
10  Chinedu   19     5.7      74
11     Liam   16     5.9      87
12     Wale   18     5.8      75
13   Gbenga   17     6.1      68
14   Abiola   20     5.9      66
15     Kola   19     5.5      78
16    Kunle   16     6.1      87
17   George   18     5.4      98
18   Thomas   17     5.8      54
19   Wesley   19     5.7      60

In [5]:
# Program to calculate Annual Tax Revenue (ATR) based on years of experience and age

# Input years of experience and age
years_of_experience = int(input("Enter years of experience: "))
age = int(input("Enter age: "))

# Calculate ATR based on conditions
if years_of_experience > 25 and age >= 55:
    atr = 5600000
elif years_of_experience > 20 and age >= 45:
    atr = 4480000
elif years_of_experience > 10 and age >= 35:
    atr = 1500000
else:
    atr = 550000

# Display the ATR
print(f"The Annual Tax Revenue (ATR) is: ₦{atr:,}")

The Annual Tax Revenue (ATR) is: ₦5,600,000